.confirm-password-input {
  display: block;
  margin-top: 20px;
  margin-left: 50px;
  width: 300px;
  height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 14px;
  font-family: inter;
}
